GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_TEAM_ID=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
